/* Milestone 1 Styling */
.titleList {
    color: orange;
    position: absolute;
    top: 10%;
    left: 70%;
}
.listingArea {
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
}
ul {
    list-style: none;
}
.display {
    text-transform: uppercase;
    font-size: 1.5rem;
}

ul, a {
    font-size: 1.2rem;
}

/* M1 Single Book styling */ 
body {
    background-color: black;
}
.image {
    float: right;
    margin: 10px;
    padding: 10px;
}
p, .isbn {
    margin: 5px;
    padding: 5px;
    text-align: left;
}
.content {
    margin: 20px;
    padding: 20px;
}
