/* Styling for Milestone2.html */
.m2 a {
    color: white;
}
.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type = button], input[type = submit] {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 25px;
    cursor: pointer;
    border-radius: 5%;
    justify-content:space-evenly;
    transform: scale(1.5);
}

/* Styling for bookDetails, bookSearch, and bookShelf */
body {
    background-color:black;
}

/* bookDetails styling */
label {
    color: white;
}
.searchForBook {
    position: absolute;
    bottom: 75%;
    left: 80%;
}
input[type = text] {
    box-sizing: border-box;
    padding: 12px;

}
.searchButton {
    box-sizing: border-box;
    padding: 10px;
}

.sectionSearch, .searchResults{
    max-height: 100vh;


}
#bookshelf {
    color: white;
}