input[type = button], input[type = submit] {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
    justify-content:space-evenly;
}
input[type = text] {
    box-sizing: border-box;
    padding: 12px;
}
.myCollection {
    height: 80vh;
}
.searchBar {
    text-align: center;
    height: 30vh;
    position: relative;
    left: 48%;
    transform: translate(-50%, -50%);
    
}
.searchResults {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;
}
.myCollection, .searchBar {
    margin: 20px;
}
.viewCollection {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#result {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    top: -30px;
}
#collection {
    position: relative;
    display: flex;
    padding: 30px;
    top: 170px;
}
